#boto3 installed, remove them after run
# pip install --target ./libs -r requrements.txt
#boto3
#boto3-1.42.91.dist-info
#botocore
#botocore-1.42.91.dist-info
#dateutil
#jmespath
#jmespath-1.1.0.dist-info
#python_dateutil-2.9.0.post0.dist-info
#s3transfer
#s3transfer-0.16.0.dist-info
#six-1.17.0.dist-info
#urllib3
#urllib3-2.6.3.dist-info

dotenv
langchain
langchain-aws